body {
    margin:0;
    padding:0;
}

/* Form Container Layout */
.form-wrapper {
    border: 2px solid yellow;
    display: flex;
    flex-direction: row;
    background-color: green;
    /* padding-top: 80px; */
    height: 500px;
    width: 100%;
}    

.contact-form {
    display: flex;
    flex-direction: column;
    width: 70%;
    background-color: #dcd0c0;
    border:2px solid orangered;
    align-items: center;
}

form { 
    border: 1px solid #ccc;
    margin: 10px; 
    box-sizing: content-box;
    text-align: center;
    width: 750px;
    height: 500px;
    top:50%;
    left: 50%;
} 
      
input[type=text], input[type=password] {
    width: 50%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}
  
input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}
  
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
button {
    background-color: black;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width:25%;
    opacity: 0.9;
  }
  
button:hover {
    opacity:1;
  }

.image-box-right {
    display: flex;
    align-content: flex-end;
    width: 30%;
    background-color: #dcd0c0;
    border: 2px solid orangered;
}

.container-img-right img {
    width: 300px;
    height: 450px;
    border: 20px solid white;    
}
