body {
    margin:0;
    padding:0;
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    }
.navbar {
    background-color: #120F1D;
    overflow: hidden;
    height: 60px;
    margin-bottom: 20px;
    }
    
.navbar-right a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.navbar-left a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}    
    
.navbar a:hover {
    color: black;
    color: white;
    text-decoration: underline;
    text-decoration-color: orangered;
}
    
.navbar a.active {
    background-color: #efefef;
    color: white;
    text-decoration: underline;
    text-decoration-color: orangered;
}