body {
margin:0;
padding:0;
font-family: 'Open Sans', sans-serif;
}

.navbar {
background-color: #120F1D;
overflow: hidden;
height: 60px;
}

.navbar a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    color: black;
    color: white;
    text-decoration: underline;
    text-decoration-color: orangered;
}

.navbar a.active {
    background-color: #efefef;
    color: white;
    text-decoration: underline;
    text-decoration-color: orangered;
}

.main-container {
    display: flex; 
    flex-direction: column;
    flex-grow: 1;
    height: auto;
    border: 2px solid red;
    background-color:grey;
}
 
.container {
    display:flex;
    flex-wrap: wrap;    
    width: auto;
    line-height: 75px;
    font-size:30px;
    background-color: #efefef;
    border: 2px solid green;
    margin: 10px;   
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    /* box-sizing: border-box; */
}
  
.mySlides {
    display: none;
}
  
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #E34C26;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}
  
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
  
.text {
    color: #333;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
  
.numbertext {
    color: #333;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
  
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.active, .dot:hover {
    background-color: #717171;
}
  
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}




.product-container {
    display:flex;
    flex-direction: row;
    flex: 0 0 25%;
    justify-content: space-between;
    line-height: 75px;
    font-size:30px;
    background-color: #efefef;
    border: 2px solid red; 
    margin: 10px;   
    /* padding:5px;     */
} 
   
.imgproduct    {
    max-height:100%; 
    /* object-fit: contain;     */
    width:100%;
    opacity: 1;    
}

.imgproduct:hover {
    opacity: 0.8 ;
}    


    
       






